/*底部菜单样式*/
.caishen .van-tabbar {
    height: 75px;
    background-color: rgba(34, 16, 6, .8)
}
.caishen .van-tabbar-item__icon img {
    height: 50px;
    margin-top: 5px;
}
.caishen .van-tabbar {
    border-bottom: 2px solid #d4af6d;
    border-top: 2px solid #d4af6d;
}
.caishen .van-tabbar-item:first-child {
    border-left: 2px solid #d4af6d;
}
.caishen .van-tabbar-item:last-child {
    border-right: 2px solid #d4af6d;
}
.caishen .van-hairline--top-bottom::after {
    border-width: 0;
}